body {
font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}
.we {
  background-color: #000000;
  color: #ffffff;
}

.icons {
  display: inline-block;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
